extends ../shared/template
block content
  h2 Show Page!
  table
    thead
      th name
      th photo
      th value
      th count
      th total
    tbody

block scripts
  script(src='/js/user/home.js')

